@font-face {
    font-family: "OngleleafEasyBold";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafEasyBold/OngleleafEasyBold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafEasyBold/OngleleafEasyBold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafEasyBold/OngleleafEasyBold.ttf") format("truetype");
    font-display: swap;
}

.OngleleafEasyBold {
    font-family: "OngleleafEasyBold";
}
